.Xauthority
.aspell.de.prepl
.aspell.de.pws
.bash_history
.cache/
.fehbg
.gitconfig
.gnupg/
.gnuplot_history
.lesshst
.mono/
.mozilla/
.packer.d/
.pki/
.python_history
.spack/
.spack_global/
.spack_julea/
.ssh/
.terminfo/
.thunderbird/
.vim/
.viminfo
.viminfz.tmp
.wget-hsts
.x2go/
.x2goclient/
Documents/
Downloads/
Images/
Music/
Projects/
semester
# .config
.config/dconf
.config/deepin
.config/discord
.config/emoji
.config/fontforge
.config/gajim
.config/gconf
.config/GIMP
.config/gtk-2.0
.config/gtk-3.0
.config/inkscape
.config/julea
.config/libreoffice
.config/lutris
.config/matplotlib
.config/mimeapps.list
.config/mpv
.config/notes
.config/okular.kmessagebox
.config/okularpartrc
.config/okularrc
.config/pavucontrol.ini
.config/procps
.config/pulse
.config/QtProject.conf
.config/systemd
.config/Unity
.config/unity3d
.config/UnityHub
.config/vlc
.config/ycm
.config/zathura
# .local
.local/share/RecentDocuments/
.local/share/Trash/
.local/share/applications/
.local/share/gajim/
.local/share/gsettings-data-convert
.local/share/gvfs-metadata/
.local/share/icons/
.local/share/lutris/
.local/share/okular/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/unity3d/
.local/share/vlc/
.local/share/xorg/
.local/share/zathura/
